.resultBox{
    border: 4px solid rgb(13, 206, 13);
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    margin-bottom: 60px;
}
.resultBox div{
    width: 30%;
    margin: 0 auto;
    text-align: left;
}
.resultBox div h1{
    text-align: center;
}
@media screen and (max-width: 950px){
    .resultBox{
        width: 75%;
    }
    .resultBox div{
        width: 75%;
    }
}
@media screen and (max-width: 750px){
    .resultBox{
        width: 80%;
    }
    .resultBox div{
        width: 80%;
    }
}
@media screen and (max-width: 550px){
    .resultBox{
        width: 85%;
    }
    .resultBox div{
        width: 85%;
    }
}
@media screen and (max-width: 400px){
    .resultBox{
        width: 90%;
    }
    .resultBox div{
        width: 90%;
    }
}