.paraStyling{
    width: 60%;
    border: 4px solid rgb(107, 214, 250);
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
@media screen and (max-width: 400px){
    .paraStyling{
        width: 95%;
    }
}